
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
coverage/

# Prisma
.prisma/
.env
.env.*

# Logs
logs
*.log
log.txt

# Sistema operativo
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Database
*.sqlite

# Docker
docker-compose.override.yml

# Build
build/
